html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #121212;
    color: #FFFFFF;
}

header {
    position: relative;
    width: 100%;
    height: 765px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.5) 100%), 
url(resources/main-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}

section {
    margin: 0 auto;
    width: 1400px;
}

nav {
    display: inline-block;
}

h1 {
    position: absolute;
    top: 466px;
    height: 205px;
    width: 919px;
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -0.03em;
    color: #1BFF07; 
}

h2 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.03em;
}

p {
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

h4 {
    margin-top: 90px;
    margin-bottom: 74px;
    margin-left: 125px;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.logo {
    margin-left: 123px;
    margin-top: 36px;
    margin-right: 520px;
    display: inline-block;
    width: 130px;
    height: 39px;
    background: #000000;
    border-radius: 100px;
}

.logo-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 39px;
    letter-spacing: -0.11em;
    text-transform: uppercase;
    text-align: center;
    color: #1BFF07;
}

.nav-link {
    margin-right: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.5s;
}

.nav-link:hover {
    color: #1BFF07;
}

.header-text {
    margin-left: 125px;
}
.developer-dscrptn {
    position: absolute;
    top: 334px;
    width: 430px;
    height: 103px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
}

.projects {
    width: 1155px;
    margin-top: 150px;
    margin-left: 120px;
    margin-bottom: 40px;
}

.project-image {
    position: relative;
    height: 550px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), 
    url(resources/project-realhome.png);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.project-image:nth-last-child(3) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), 
    url(resources/project-glass.png);
    border-radius: 30px;
}

.project-image:nth-last-child(2) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), 
    url(resources/project-fesiyen.png);
    border-radius: 30px;
}

.project-title {
    position: absolute;
    bottom: 94px;
    left: 50px;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.project-dscrptn {
    position: absolute;
    left: 50px;
    bottom: 50px;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.03em;
}

.btn-all-projects {
    display: block;
    width: 582px;
    height: 153px;
    margin-top: 80px;
    margin-bottom: 150px;
    padding-top: 56px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.03em;
    color: #000000;
    background-color: #1BFF07;
}

.btn-all-projects:hover {
    color: #1BFF07;
    border: 1px solid #1BFF07;
    background-color:#000000;
    transition: 0.5s;
}

.skills {
    height: 1377px;
    width: 1048px;  
    margin-left: 123px;
}

.skill-html::before {
    content:'';
    display: block;
    width: 45px;
    height: 44px;
    background-image: url('resources/icon-html.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.skill-js::before {
    content:'';
    display: block;
    width: 45px;
    height: 44px;
    background-image: url('resources/icon-js.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.skill-frame::before {
    content:'';
    display: block;
    width: 45px;
    height: 44px;
    background-image: url('resources/icon-frame.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.skill-application::before {
    content:'';
    display: block;
    width: 45px;
    height: 44px;
    background-image: url('resources/icon-phone.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.skill-html, 
.skill-js, 
.skill-frame, 
.skill-application {
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #1BFF07;
    margin-bottom: 15px;
}

.skill-dscrptn {
    height: 116px;
    width: 778px;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 60px;
}

h3 {
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1BFF07;
}

.services {
    width: 1150px;
    margin-left: 125px;
}

.service:nth-last-child(1) {
    margin-top: 137px;
}

.service-text {
    padding: 40px 62px;
    width: 1150px;
    background: #191C19;
    border-radius: 30px;
}

.service-dscrptn {
    margin-top: 15px;
    width: 749px;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.contacts {
    position: relative;
    width: 100%;
    height: 717px;
    margin-top: 150px;
    background: #191C19;
    border-radius: 30px;
    background-image: url('resources/contanc-picture.png');
    background-repeat: no-repeat;
    background-position: right;
}

.contacts-list {
    position: absolute;
    top: 320px;
    left: 175px;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: -0.03em;
}

 a {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #FFFFFF;
} 

a:hover {
    color: #1BFF07;
    transition: 0.5s;
}

footer {
    padding: 76px 0 90px 125px;
    background: #FFFFFF;
    border-radius: 30px 30px 0 0;
}

.footer-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000000;
}

.footer-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.5;
}

.footer-text:nth-last-child(1) {
    margin-top: 66px;
}