body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #121212;
    color: #FFFFFF;
}


header {
    position: relative;
    height: 765px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.5) 100%), 
url(resources/main-image.png);
}

.container {
    margin: 0px auto;
    width: 1400px;
}

.logo {
    margin-left: 123px;
    margin-top: 36px;
    margin-right: 520px;
    display: inline-block;
    width: 130px;
    height: 39px;
    background: #000000;
    border-radius: 100px;
}

.logo-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 39px;
    letter-spacing: -0.11em;
    text-transform: uppercase;
    text-align: center;
    color: #1BFF07;
}

nav {
    display: inline-block;
}

h1 {
    position: absolute;
    top: 466px;
    left: 119px;
    height: 205px;
    width: 919px;
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -0.03em;
    color: #1BFF07; 
}

h2 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.03em;
}
.nav-link {
    margin-right: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.developer-dscrptn {
    position: absolute;
    left: 125px;
    top: 334px;
    width: 430px;
    height: 103px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
}

.projects {
    width: 1155px;
    margin-top: 150px;
    margin-left: 120px;
    margin-bottom: 40px;
}

.project-image {
    position: relative;
    height: 550px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), 
    url(resources/project-realhome.png);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.project-image:nth-last-child(2) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), 
    url(resources/project-glass.png);
    border-radius: 30px;
}

.project-image:nth-last-child(1) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), 
    url(resources/project-fesiyen.png);
    border-radius: 30px;
}

.project-title {
    position: absolute;
    bottom: 94px;
    left: 50px;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
}

.project-dscrptn {
    position: absolute;
    left: 50px;
    bottom: 50px;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.03em;
}


