body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #121212;
    color: #FFFFFF;
}


header {
    height: 765px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.5) 100%), 
url(resources/main-image.png);
}

.logo {
    margin-left: 123px;
    margin-top: 36px;
    margin-right: 520px;
    display: inline-block;
    width: 130px;
    height: 39px;
    background: #000000;
    border-radius: 100px;
}

.logo-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 39px;
    letter-spacing: -0.11em;
    text-transform: uppercase;
    text-align: center;
    color: #1BFF07;
}

nav {
    display: inline-block;
}

h1 {
    position: absolute;
    top: 466px;
    left: 119px;
    height: 205px;
    width: 919px;
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -0.03em;
    color: #1BFF07;


    
}

.nav-link {
    margin-right: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.developer-dscrtn {
    position: absolute;
    left: 125px;
    top: 334px;
    width: 430px;
    height: 103px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
}